{% extends 'base.html' %}
{% load static %}
{% block title %} Post {% endblock %}



{% block header %}
 <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Post</h1>
            <span class="subheading">Post List</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}



{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">


      <h1>Post List</h1>
      <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href={% url 'blog:index' %}>List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href={% url 'blog:post_archive' %}>Archive</a>
          </li>
          <!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href={% url 'blog:post_archive' %}>Archive</a>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
          -->
      </ul>
      <br>

       {% for post in posts %}
       <h3><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h3>
       {{ post.modify_dt|date:"N d, Y" }}
       <p>{{ post.description }}</p>
       {% endfor %}
       <br>

       <a class="btn btn-primary" href="{% url 'blog:add' %}" role="button">새로운 글쓰기</a>


          <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-10 mx-auto">
                  <span>

                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item">
                          {% if page_obj.has_previous %}
                          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                          {% endif %}
                        </li>
                        <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/blog/?page=1">1</a></li>
                        <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/blog/?page=2">2</a></li>
                        <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/blog/?page=3">3</a></li>
                        <li class="page-item">
                          {% if page_obj.has_next %}
                          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                          {% endif %}
                        </li>
                      </ul>
                    </nav>

                    <!--
                    {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">PreviousPage</a>
                    {% endif %}

                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">NextPage</a>
                    {% endif %}
                    -->

                  </span>
    </div>
  </div>
</div>
{% endblock %}



{% block extra-script %}{% endblock %}